* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.img {
    max-width: 100%;
}

.event {
    padding-top: 80px;
    padding-bottom: 120px;
    text-align: center;
}

.event-img {
    margin-bottom: 70px;
}

.event-description {
    margin: 0 auto 60px;
    max-width: 730px;
}

.event-description p {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.5;
}

